*{
    margin: 0 0;
    padding: 0 0;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

button:hover,input[type=submit]:hover{
    background-color: rgb(134, 33, 43);
    color: #000000;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title{
    font-weight: bold;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}
nav li{
    list-style: none;
}
.btn{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}
nav li{
    display: flex;
}
.h3{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    max-width: 905px;
    margin-bottom: 24px;

}
.banner-content{
    padding: 309px 267px 152px 267px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    background-image: url('../Assets/Hero-bg.png');
    margin-bottom: 116px;
}
.background-position{
    width: 174px;
    height: 48px;
}

.section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
}
.action{
   padding: 0px 62px;
   width: 517px;
}
.sec-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    padding-bottom: 23px;
}
.sec-description{
    font-weight: 400px;
    font-size: 24px;
    color: #252432;
    padding-bottom: 23px;
}
.image{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}
.main-styles{
    margin: 0px auto;
    padding-left:145px ;
    padding-right: 145px;
}
.item-title{
    font-weight: bold;
    font-size: 80px;
    color: rgba(81, 71, 255, 1);
    margin-bottom: 0px;
}
.item-des{
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.join-users{
    display: flex;
    justify-content:center;
    gap:158px;
    padding: 0px 142px 50px 142px;
}
.head{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    padding-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 40px;
}
.users{
    background-color: #4E47FF10;
    border-radius: 24px;
    margin: 0 auto;
    
}
.stars{
    padding-bottom: 92.23px;
}
.star-head{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 137px;
}
.stars-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color:#ffffff;
}
.start{
    padding: 24px;
    border-radius: 14px;
    border: 1px solid #F2EDED;
    width: 360px;
}
.title{
    font-weight: bold;
    font-size: 97px;
    background-color: white;
    padding: 50px
}
.touch{
    display: flex;
    justify-content: space-between;
    gap: 115px;
    padding-bottom:14px;
}
.title{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
}
.text{
    height: 70px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #D6DDED;
    width: 100%;
    padding: 10px 20px;
    display: block;
}
.section-column{
    width: 50%;
}

form {
max-width:497px;
}
input[type="text"], input[type="email"],textarea{
    height: 56px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #D6DDED;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
}
input[type=submit] {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.headerstyle{
    font-weight: medium;
    font-size: 18px;
    color: #000000;
}
li{
    list-style: none;
    display: inline;
    margin-right: 48px;
}
.footerr{
    text-align: center;
    background-color: white;
}
.head1{
    color: rgba(78, 71, 255, 1);
    font-size: 100px;
    padding-bottom: 8px;
}
.para{
    color: #8987A1;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #8987A1;

}